.card {
    border-radius: 20px;
    background-color: #ffffff;
    padding: 20px;
    margin: 12px;
    width: 300px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .2s;
    cursor: pointer;
}

.card p {
    font-weight: 600;
    margin: 2px;
}

.card span {
    color: #4e4e4e;
}

.card img {
    height: 100%;
    max-height: 220px;
    margin: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(1.1);
}

.tag-instock {
    margin: 2px;
    font-size: 12px;
    color: #ffffff !important;
    padding: 4px;
    background-color: #16a29a;
    border-radius: 5px;
}

.tag-preorder {
    margin: 2px;
    font-size: 12px;
    color: #ffffff !important;
    padding: 4px;
    background-color: #BB3E03;
    border-radius: 5px;
}