.input {
    position: relative;
    right: 25px;
    width: 200px;
    height: 25px;
}

.container {
    margin: 20px;
    margin-right: 40px;
    padding-left: 350px;
    width: 100%;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: auto;
}

.content {
    margin-top: 40px;
}

.content button {
    margin-left: 0px;
}

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, max(250px));
    gap: 12px; */
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.box div:nth-child(2) {
    margin-left: 10px;
}

.box p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.box input {
    padding: 10px;
    width: 200px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #EE9B00;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: 400;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s;
}

.btn-primary:hover {
    background-color: #D98D00;
}

.btn-primary:active {
    background-color: #b37502;
}